@yellow: #f5e907;
@red: #f50713;
@green: #05f515;

.margenes(@top: 0px, @bottom: 0px) {
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color:@yellow;
  background-image: url("../images/vacaciones.jpg");
  background-position: center;
  background-size: cover;
  color: black;
  .margenes(50px, 0px);
  height: 50px; }

footer {
  padding: 10px 10px 0  10px;
  background-color: @red;
  .margenes(10px, 0px); }

.card-hotel {
  flex: 1 300px;
  .margenes(50px, 20px); }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.navbar {
  background-color: @green; }

.tab-content {
  padding-top: 10px; }

.close {
  color: #fff;
  opacity: 1; }
