.jumbotron {
  background-color: #ffff00;
  background-image: url("../images/vacaciones.jpg");
  background-position: center;
  background-size: cover;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
  height: 50px; }

footer {
  padding: 10px 10px 0  10px;
  background-color: #ffff00;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 300px;
  margin-top: 50px;
  margin-bottom: 20px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.navbar {
  background-color: green; }

.tab-content {
  padding-top: 10px; }

.close {
  color: #fff;
  opacity: 1; }
